div {
    width: 75%;
    margin: 0 auto;
}

h2 {
    page-break-before: always;
}

.idea{
    page-break-inside: avoid;
}

.background-element{
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
    color-adjust: exact !important;                 /*Firefox*/
}
