html{
  height: 100%;
}

body {
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 400 !important;
  font-size: small!important;
  background: #2980ef !important; /* fallback for old browsers */
  background-image: -webkit-linear-gradient(to bottom, #2980ef, #3f2b96) !important; /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to bottom, #2980ef, #3f2b96)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
}

input textarea#content select {
  font-size: small!important;
  background: red!important;
}

select {
  display: none;
}

.title {
  font-weight: 600 !important;
  font-size: x-large!important;
}

a {
  font-size: medium !important;
  font-weight: 500 !important;
}

button {
  font-weight: 500 !important;
  font-size: medium !important;
}

/*Notifications*/
.notification {
  text-align: center;
  padding: 15px 30px;
  border-radius: 4px;
  width: 100%;
  margin: auto;
}
.success {
  background: #DCEDC8;
  color: #33691E;
  margin-bottom: 20px;
}

.error {
  background: #FFCCBC;
  color: #b71c1c;
  margin-bottom: 20px;
}

.idea {
  border: 2px solid transparent;
  opacity: 0.8;
  transition: all 0.5s ease-out;
}

.idea:hover{
  border: 2px solid black;
  opacity: 1;
}

button {
  transition: all 0.5s ease-out;
}

.navbar-brand{
  transition: all 0.5s ease-out;
  width: 200px !important;
}

.titlehome{
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-out;
}

.titlemain{
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-out;
}

a.navbar-brand.text-center:hover .titlemain{
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-out;
}
a.navbar-brand.text-center:hover .titlehome{
  opacity: 1;
  visibility: visible;
  font-size: xx-large;
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
  color: #2980ef !important;
}

.boardname{
  font-weight: bold;
  font-size: 12pt;
  color: #2980ef;

  padding: 15px 15px;
}

.delete-button{
  transition: all 0.5s ease-out;
}

.delete-button:hover{
  color: red;
}

textarea#content{
  height: 700px;
}

button.hover {
  opacity: 0.6;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.5s ease-out;
  left: 0;
}

button.hover:hover{
  opacity: 1;
  transition: all 0.5s ease-out;
}

.tagcontrol{
  opacity: 0.6;
  transition: all 0.5s ease-out;
}

.tagcontrol:hover{
  opacity: 1;
}

.valid {
  color: green;
}

.invalid {
  color: #9a2617;
}

@media (min-width: 1800px){
  .ideatable{
    width: 1700px !important;
  }
}

.bottomright {
  position: fixed;
  bottom: -4px;
  right:-4px;
  width: 10%;
  height: 5%;
}

#addtotag {
  height: 100%;
}

.rotated-sidebar {
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    width: 100vw;
    position: fixed!important;
    transition: all 0.5s ease-out;
    transition-timing-function: ease-out;
    background: #f2f2f2;
    background: linear-gradient(180deg, #2980efff 0%, #2980efff 85%, #2980ef00 100%);
}

@media (min-height: 1050px) {
  .rotated-sidebar {
    justify-content: flex-end;
    align-content: flex-start;
    transform: rotate(-90deg) translate(0, 150px);
    transform-origin: right bottom;
    left: -970px;
    width: 900px;
    height: 150px;
    top: -10px;
    position: fixed!important;
    transition: all 0.5s ease-out;
    margin: 0;
    background: 0;
  }
   .ideacontainor{
    padding-top: 40px;
  }
}

@media (min-height: 1200px) {
  .rotated-sidebar {
    justify-content: flex-end;
    align-content: flex-start;
    transform: rotate(-90deg) translate(0, 150px);
    transform-origin: right bottom;
    left: -1040px;
    width: 1050px;
    height: 150px;
    top: -10px;
    position: fixed!important;
    transition: all 0.5s ease-out;
    padding-top: 0!important;
    margin: 0;
  }
  .ideacontainor{
    padding-top: 40px;
  }
}

.ideacontainor{
  padding-top: 80px;
  transition: all 0.5s ease-out;
}

.ideatable::after {
  content: "";
  flex: auto;
}

@media (min-height: 1050px) {
  .ideacontainor{
    padding-left: 100px;
    padding-top: 0!important;
  }
}

@media (max-width: 990px) {
  .rotated-sidebar{
    padding-top: 60px!important;
  }
}

.icon-delete-hover,
.icon-edit-hover{
  transition: all 0.5s ease-out
}

.rotated-sidebar .icon-edit-hover:hover{
  fill: white;
  transition: all 0.5s ease-out;
}

.icon-edit-hover:hover{
  fill: #2980ef;
  transition: all 0.5s ease-out;
}

.icon-delete-hover:hover{
  fill: red;
  transition: all 0.5s ease-out;
}

.fa-flask{
  transition: all 0.5s ease-out;
}

.fa-flask:hover{
  color: white;
}

.board-buttons{
  transition: all 1s ease-out;
}

@media (max-width: 1500px){
  .board-buttons{
    max-width: 105px;
  }
}

.swatch:hover{
  border: 4px solid black;
  opacity: 1;
}
