/*Notifications*/
.notification {
  text-align: center;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
}
.success {
  background: #70DA8B;
  color: #4DA463;
}
.error {
  background: #FFE6B2;
  color: #C5A14E;
  margin-bottom: 20px;
}

.idea {
  border: 2px solid transparent;
  opacity: 0.6;
  transition: 0.5s;
}

.idea:hover{
  border: 2px solid black;
  opacity: 1;
}

.navbar-brand{
  transition: 0.5s;
  width: 200px !important;
}

.sitename:hover a.navbar-brand span{
  display: none;
  transition: 0.5s;
}
.sitename:hover a.navbar-brand:after{
  content: "Home";
  color: #2980ef !important;
}

.boardname{
  font-weight: bold;
  font-size: 12pt;
  color: #2980ef;

  padding: 15px 15px;
}

.delete-button{
  transition: 0.5s;
}

.delete-button:hover{
  color: red;
}

textarea#content{
  height: 700px;
}