{% extends "index.html" %}
{% from 'macros.html' import render_field %}

{% block head %}
    {% block styles %}
        {{ super() }}
    {% endblock %}
{% endblock %}

{% block body %}
    {% block content %}
        {% block nav %}
            {{ super() }}
        {% endblock %}
        {% block messages %}
            {{ super() }}
        {% endblock %}
        {% block pagecontent %}
            <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>Tag Selection{{ query }}</h4>
                    <div class="btn-group" role="group" style="width:100%">
                        <button class="btn btn-primary hover" id="All" onclick="location.href='/{{ board.id }}?filter=All'" type="button" style="background: #0D0D0D;color: #F2F2F2;border-color: #F2F2F2;margin: 3px;">All</button>
                        <button class="btn btn-primary hover" id="Colour" onclick="location.href='/{{ board.id }}?filter=Colour'" type="button" style="background: #6d28aa;border-color: #6d28aa;margin: 3px;">Colour</button>
                        <button class="btn btn-primary hover" id="FixtureType" onclick="location.href='/{{ board.id }}?filter=FixtureType'" type="button" style="background: #ff7247;border-color: #ff7247;margin: 3px;">Fixture Type</button>
                        <button class="btn btn-primary hover" id="FixtureAngle" onclick="location.href='/{{ board.id }}?filter=FixtureAngle'" type="button" style="background: #00b5d6;border-color: #00b5d6;margin: 3px;">Fixture Angle</button>
                        <button class="btn btn-primary hover" id="Red" onclick="location.href='/{{ board.id }}?filter=Red'" type="button" style="background: #d81c3f;border-color: #d81c3f;margin: 3px;">Red</button>
                        <button class="btn btn-primary hover" id="Green" onclick="location.href='/{{ board.id }}?filter=Green'" type="button" style="background: #1eb53a;border-color: #1eb53a;margin: 3px;">Green</button>
                        <button class="btn btn-primary hover" id="Blue" onclick="location.href='/{{ board.id }}?filter=Blue'" type="button" style="margin: 3px;">Blue</button>
                        <button class="btn btn-primary hover" id="Yellow" onclick="location.href='/{{ board.id }}?filter=Yellow'" type="button" style="background: #f9d616;border-color: #f9d616;color: rgb(0,0,0);margin: 3px;">Yellow</button></div>
                </div>
                <script>
                    const urlParams = new URLSearchParams(window.location.search);
                    const button = document.getElementById(urlParams.get('filter')).style.opacity = 1;
                </script>
                <!--<button class="btn btn-primary" role="button" type="button" style="background: rgb(0,0,0);border-color: rgb(0,0,0); margin: 3px" onclick="location.href='/{{ board.id }}/new-idea'">Add Idea</button>-->
                <br>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            {% for idea_row in ideas | batch(4) %}
                <div class="row">
                    {% for idea in idea_row %}
                        <!-- Set colour to tag colour if present-->
                        {% if idea.Colour == '' %}
                            {% set colour = '#f2f2f2' %}
                        {% endif %}
                        <div class="idea col-md-3" onclick="location.href='/{{ board.id }}/{{ idea.id }}'" style="background: #f2f2f2;  border-radius: 10px">
                            <h4>{{ idea.Name }}</h4>
                            <p>{{ idea.Content | truncate(200) }}</p>
                            {% if idea.Colour != 'black' %}
                                <canvas style="background: {{ idea.Colour }}; width: 100%; height: 10px"></canvas>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
                <br>
                <div class="row">
                    <div class="idea col-md-3" onclick="location.href='/{{ board.id }}/new-idea'" style="background: #38A67E;  border-radius: 10px; height: 50px">
                        <h4 style="vertical-align: center; text-align: center">New Idea</h4>
                    </div>
                </div>
        </div>
    </div>
        {% endblock %}
    {% endblock %}
{% endblock %}