{% extends "index.html" %}
{% from 'macros.html' import render_field %}

{% block head %}
    {% block styles %}
        {{ super() }}
    {% endblock %}
{% endblock %}

{% block body %}
    {% block content %}
        {% block nav %}
            {{ super() }}
        {% endblock %}
        {% block messages %}
            {{ super() }}
        {% endblock %}
        {% block pagecontent %}


    <div style="padding-top: 20px">
        <div class="container ideatable" style="display: flex; width: 90%!important;">
        <div class="flexchild" style="margin-right: 20px; width: 20%; position: fixed; left: 10px">
            <div class="sidebar" style="display: flex; position: fixed; top: 80px; width: 5%; height: 100%; left: 0">
                    <!--<h4>Tag Selection{{ query }}</h4>-->
                    <div class="rotated-sidebar btn-group" role="group" style="display: flex; flex-wrap: wrap;">
                        {% for tag in tags %}
                            <button class="btn btn-primary hover" id="{{ tag.Name }}" onclick="location.href='/{{ board.id }}?filter={{ tag.Name }}'" type="button" style="background: {{ tag.Colour }};border-color: {{ tag.Colour }};margin: 3px; size: 18pt">{{ tag.Name }}</button>
                        {% endfor %}
                        <button class="btn btn-primary hover" id="Colour" onclick="location.href='/{{ board.id }}?filter=Colour'" type="button" style="background: #6d28aa;border-color: #6d28aa;margin: 3px;">Colour</button>
                        <button class="btn btn-primary hover" id="All" onclick="location.href='/{{ board.id }}?filter=All'" type="button" style="background: #0D0D0D;color: #F2F2F2;border-color: #F2F2F2;margin: 3px;">All</button>
                        <button class="btn btn-primary hover" id="Add" onclick="location.href='/{{ board.id }}/add-tag'" type="button" style="background: #ff7247;border-color: #ff7247;margin: 3px; size: 22pt">+</button>
                </div>
                <script>
                    const urlParams = new URLSearchParams(window.location.search);
                    const button = document.getElementById(urlParams.get('filter')).style.opacity = 1;
                </script>
                <br>
            </div>
        </div>
        <br>
        <div class="flexchild">
            {% for idea_row in ideas | batch(4) %}
                <div class="row" style="display: flex; justify-content: space-between; align-items: center; padding-top: 20px">
                    {% for idea in idea_row %}
                        <!-- Set colour to tag colour if present-->
                        {% if idea.Colour == '' %}
                            {% set colour = '#f2f2f2' %}
                        {% endif %}
                        <div class="idea col-md-3" onclick="location.href='/{{ board.id }}/{{ idea.id }}'" style="background: #f2f2f2;  border-radius: 10px; height: 100%; width: 22%">
                            <h4>{{ idea.Name }}</h4>
                            <p>{{ idea.Content | truncate(200) }}</p>
                            <!--Fixture Type-->
                            {% if idea.FixtureType != '' %}
                                <p style="color: #c2571a">Fixture Type: {{ idea.FixtureType }}</p>
                            {% endif %}
                            <!--Fixture Angle-->
                            {% if idea.FixtureAngle != '' %}
                                <p style="color: #107896">Fixture Angle: {{ idea.FixtureAngle }}</p>
                            {% endif %}
                            <!--Red-->
                            {% if idea.Red != '' %}
                                <p style="color: #9a2617">Red: {{ idea.Red }}</p>
                            {% endif %}
                            <!--Green-->
                            {% if idea.Green != '' %}
                                <p style="color: #168C40">Green: {{ idea.Green }}</p>
                            {% endif %}
                            <!--Blue-->
                            {% if idea.Blue != '' %}
                                <p style="color: #093145">Blue: {{ idea.Blue }}</p>
                            {% endif %}
                            <!--Yellow-->
                            {% if idea.Yellow != '' %}
                                <p style="color: #bca136">Yellow: {{ idea.Yellow }}</p>
                            {% endif %}
                            <!--Colour-->
                            {% if idea.Colour != 'black' %}
                                <canvas style="background: {{ idea.Colour }}; width: 100%; height: 10px"></canvas>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
                <br>
{#                <div class="row">#}
{#                    <div class="idea col-md-3" onclick="location.href='/{{ board.id }}/new-idea'" style="background: #38A67E;  border-radius: 10px; height: 50px">#}
{#                        <h4 style="vertical-align: center; text-align: center">New Idea</h4>#}
{#                    </div>#}
{#                </div>#}
                <button class="btn btn-success" type="button" onclick="location.href='/{{ board.id }}/new-idea'" style="position: fixed; top: 22px; left: 20px;">Add Idea</button>
        </div>
        </div>
    </div>
        {% endblock %}
    {% endblock %}
{% endblock %}