{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block title %}Boards{% endblock %}

{% block head %}
    {% block styles %}
        {{ super() }}
        <link rel="stylesheet" href="{{ url_for('.static', filename='/css/Navigation-with-Button.css') }}">
        <link rel="stylesheet" href="{{ url_for('.static', filename='/css/Contact-Form-Clean.css') }}">
    {% endblock %}
{% endblock %}

{% block body %}
{% block content %}
    {% block nav %}
        {% if colour %}
            {% set colour = colour %}
        {% else %}
             {% set colour = "#F2F2F2" %}
        {% endif %}
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background: {{ colour }}; z-index: 1">
            <div class="container sitename"><div><a class="navbar-brand text-center" href="{{ url_for('index') }}"><span class="title text-center">Suggestive Moodboard</span></a></div><!--<button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">--><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    {% if board %}
                        <li class="nav-item boardname"><p class="nav-item" href="#">Board: {{ board.Name }}</p></li>
                    {% endif %}
                </ul><span class="navbar-text actions" style="float: right"> <a class="login" href="#">Welcome {{ current_user.UserName }}</a><a class="btn btn-light action-button" style="background: #6610f2; border-radius: 4px; margin-left: 10px" target="_blank" href="https://github.com/George9Waller/SuggestiveMoodBoard/wiki" role="button">Help</a><a class="btn btn-light action-button" role="button" href="{{ url_for('logout') }}" style="border-radius: 4px">Logout</a></span></div>
        </div>
    </nav>
    {% endblock %}
    {% block messages %} {{ super() }} {% endblock %}
    {% block pagecontent %}
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3" style="text-align: center;">
                        <h1 style="text-align: center;font-size: 15pt;">Name</h1>
                    </div>
                    <div class="col-md-3" style="text-align: center;">
                        <h1 style="text-align: center;font-size: 15pt;">Date Created</h1>
                    </div>
                    <div class="col-md-3">
                        <h1 style="text-align: center;font-size: 15pt;">Event Date</h1>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
        <div>
            <div class="container">
                {% for board in boards %}
                    <div class="row" style="padding: 5px; margin-top: 5px; margin-bottom: 5px; background: #F2F2F2; border-radius: 5px">
                        <div class="col-md-3" style="text-align: center">
                            <p>{{ board.Name }}</p>
                        </div>
                        <div class="col-md-3" style="text-align: center;">
                            <p>{{ board.Created }}</p>
                        </div>
                        <div class="col-md-3" style="text-align: center">
                            <p>{{ board.EventDate }}</p>
                        </div>
                        <div class="col-md-3" style="text-align: center">
                            <a class="btn btn-info" role="button" href="/{{ board.id }}">View</a>
                        </div>
                    </div>
                {% endfor %}
                <div class="row" style="padding: 2px">
                    <a class=" btn btn-primary" role="button" href="{{ url_for('new_board') }}" style="position: fixed; top: 22px; left: 20px; display: flex; align-items: center">
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                        </svg>
                        <span style="padding-left: 8px">Board</span>
                    </a>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
{% endblock %}