{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block title %}Register{% endblock %}

{% block head %}
    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('.static', filename='/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('.static', filename='/css/Login-Form-Dark.css') }}">
        <link rel="stylesheet" href="{{ url_for('.static', filename='/css/styles.css') }}">
    {% endblock %}
{% endblock %}

{% block content %}
<div class="login-dark" style="">
        <div style="padding: 40px;background: #f2f2f2;">
            <h1 style="text-align: center;color: #ffffff; font-size: 72px; background: -webkit-linear-gradient(#92FE9D, #00C9FF); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-weight: bolder; font-family: 'Quicksand', sans-serif !important;"><strong>Thought Base</strong></h1>
        </div>
{% block messages %}{{ super() }}{% endblock %}
        <form method="post" action="" form="form">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration">
                <h1>Register</h1>
            </div>
            <div class="form-group">
                {% for field in form %}
                    {{ render_field(field) }}
                {% endfor %}
            </div>
            <div id="message" style="transition: all 0.5s ease-out; opacity: 0">
                <p id="length" class="invalid">Must be 8-20 characters</p>
                <p id="lower-case" class="invalid">Must have a lower-case</p>
                <p id="upper-case" class="invalid">Must have an upper-case</p>
                <p id="number" class="invalid">Must have a number</p>
                <p id="special" class="invalid">Must have a special character: |!"$%&/\()[]?^'+-*</p>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script>
                /* adapted from: https://www.w3schools.com/howto/howto_js_password_validation.asp */

    var myInput = document.getElementById("password");
    var letter = document.getElementById("lower-case");
    var capital = document.getElementById("upper-case");
    var number = document.getElementById("number");
    var length = document.getElementById("length");
    var special = document.getElementById("special");

    myInput.onfocus = function() {
        document.getElementById("message").style.opacity = "1";}

    myInput.onblur = function() {
      document.getElementById("message").style.opacity = "0";}

  $('#password').keyup(function() {
  // Validate lowercase letters
  let lowerCaseLetters = /[a-z]/g;
  if(lowerCaseLetters.test(myInput.value)) {
      console.log('does match lower case')
    letter.style.color = '#00ff00'
  } else {
    letter.style.color = '#9a2617'
}

  // Validate capital letters
  let upperCaseLetters = /[A-Z]/g;
  if(upperCaseLetters.test(myInput.value)) {
    capital.style.color = '#00ff00'
  } else {
    capital.style.color = '#9a2617'
  }

  // Validate numbers
  let numbers = /[0-9]/g;
  if(numbers.test(myInput.value)) {
    number.style.color = '#00ff00'
  } else {
    number.style.color = '#9a2617'
  }

  console.log(myInput.value.length)
  // Validate length
  if(myInput.value.length > 7 && myInput.value.length < 21) {
    length.style.color = '#00ff00'
  } else {
    length.style.color = '#9a2617'
  }

  //Validate special character
      let specialcharacters = /[|!"$%&\/\[\]()?^'\\+\-*]/g;
   if(specialcharacters.test(myInput.value)) {
    special.style.color = '#00ff00'
  } else {
    special.style.color = '#9a2617'
  }
})
            </script>
            <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit" style="background: rgb(107,33,128);">Register</button>
        <button onclick="location.href='/login'" class="btn btn-primary btn-block" type="button">Return to Log In</button></div>
    </form>
    </div>
{% endblock %}