{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block title %}Login{% endblock %}

{% block head %}
    {% block styles %}
        {{ super() }}
        <link rel="stylesheet" href="{{ url_for('.static', filename='/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('.static', filename='/css/Login-Form-Dark.css') }}">
        <link rel="stylesheet" href="{{ url_for('.static', filename='/css/styles.css') }}">
    {% endblock %}
{% endblock %}


{% block content %}
    <div class="login-dark" style="">
        <div style="padding: 40px;background: #2980ef;">
            <h1 style="text-align: center;color: #ffffff;"><strong>Thought Base</strong></h1>
        </div>
    {% block messages %}
        {{ super() }}
    {% endblock %}
        <form method="post" action="" class="form">
            {{ form.hidden_tag() }}
            <h2 class="sr-only">{{ title }} Form</h2>
            <div class="illustration">
                <h1>{{ title }}</h1>
            </div>
            {% for field in form %}
                {{ render_field(field) }}
            {% endfor %}
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">{{ submit }}</button><button onclick="location.href='/login'" class="btn btn-primary btn-block" type="button" style="background: rgb(107,33,128);">Login</button></div>
        </form>
    </div>
{% endblock %}