{% extends "index.html" %}

{% block head %}
    {% block styles %}
        {{ super() }}
        <script src="https://kit.fontawesome.com/ba83112699.js" crossorigin="anonymous"></script>
    {% endblock %}
{% endblock %}

{% block body %}
    {% block content %}
        {% block nav %}
            {{ super() }}
        {% endblock %}
        {% block messages %}
            {{ super() }}
        {% endblock %}
        {% block pagecontent %}
            <div style="width: 100%; background: white; margin: 0; height: 25vh; vertical-align: center" class="">
                <div style="vertical-align: center">
                    <h1 class="text-center" style="font-size: 72px; background: -webkit-linear-gradient(#30CFD0, #330867); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-weight: bolder">Colours for board: {{ board.Name }}</h1>
                    <br>
                    <p class="text-center">Click on a colour to make a new idea with it (or click the copy icon to copy the hex code)</p>
                </div>
            </div>
            <div class="" style="display: flex; flex-flow: row wrap; justify-content: flex-start; flex-direction: row; align-content: flex-start; margin: auto">
                {% for swatch in colours %}
                    <div class="swatch" style="background: rgb({{ swatch[0] }}, {{ swatch[1] }}, {{ swatch[2] }});width: 150px; height: 100px; margin: 5px; float: right;" onclick="location.href='/{{ board.id }}/new-idea?colour={{ swatch[3][1:] }}'">
                        <div style="float: right; background: white; opacity: 0.8; padding: 5px;">
                            <input style="display: inline-block; width: 65px; border: transparent; font-family: monospace" id="{{ swatch[3] }}" value="{{ swatch[3] }}" placeholder="{{ swatch[3] }}" disabled />
                            <button class="btn btn-primary hover" onclick="copyToClipboard('{{ swatch[3] }}')" type="button" style="background: transparent;border: transparent; margin: 0; size: 22pt; opacity: 1; display: inline-block;" data-toggle="tooltip" data-placement="bottom" title="Copy colour code">
                                <i class="far fa-copy" style="color: black"></i>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- Back button -->
            <a class=" btn btn-primary" role="button" href="/{{ board.id }}" style="position: fixed; top: 22px; left: 20px; display: flex; align-items: center; z-index: 10">
                <svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-arrow-return-left" fill="white" xmlns="http://www.w3.org/2000/svg">
                   <path style="font-weight: bold" fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"></path>
                </svg>
                <span style="padding-left: 8px">Board</span>
            </a>

            <script>
                function copyToClipboard(elementid) {
                var textBox = document.getElementById(elementid);
                textBox.select();
                document.execCommand("copy");
                }
            </script>
        {% endblock %}
    {% endblock %}
{% endblock %}